# Begin Project
project:
  type: website
  pre-render: curl -O -L --insecure https://raw.githubusercontent.com/lmu-osc/branding-resources/refs/heads/main/lmu-osc-custom.scss
  post-render: rm lmu-osc-custom.scss
# End Project


# Begin Website
website:
  title: "Data Documentation and Validation using R"
  page-footer: 
    center: "Copyright, 2024 Open Science Center at LMU Munich"
    border: false
  search:
    location: sidebar
  repo-url: https://github.com/lmu-osc/data-documentation-validation-R
  repo-actions: [edit, issue]
  back-to-top-navigation: true
  page-navigation: true
  favicon: assets/LMU_OSC_favicon.jpg
  margin-header: |
    ![](/assets/LMU_OSC_logo.svg){width="175"}
  
  
  navbar:
    right: 
      - about.qmd
    left:
      - href: index.qmd
        text: Home
    tools:
      - icon: github
        menu:
          - text: Source Code
            url:  https://github.com/lmu-osc/data-documentation-validation-R
          - text: Report a Bug
            url:  https://github.com/lmu-osc/data-documentation-validation-R/issues
      - icon: house-heart
        url: https://www.osc.uni-muenchen.de/index.html
   
        
  sidebar:
    style: "docked"
    contents:
      - text: "Overview"
        href: index.qmd
      - section: "Tutorial Setup"
        contents:
          - href: 01-tutorial-setup/page1.qmd
            text: "Project Setup"
          - href: 01-tutorial-setup/page2.qmd
            text: "Example Data & Tools"
      - section: "Data Dictionaries"
        contents:
          - href: 02-data-dictionaries/page1.qmd
            text: "Concepts & Manual Creation"
          - href: 02-data-dictionaries/page2.qmd
            text: "Automated Creation with R"
      - section: "Data Validation"
        contents:
          - href: 03-data-validation/page1.qmd
            text: "Data Quality Concepts"
          - href: 03-data-validation/page2.qmd
            text: "Summary Statistics"

# End Website


# Begin Format
format:
  html:
    theme: 
      - cosmo
      - lmu-osc-custom.scss
    css: 
      - https://raw.githubusercontent.com/lmu-osc/branding-resources/refs/heads/main/lmu-osc-styles.css
    toc: true
    fontsize: 13pt
    code-overflow: wrap
    grid:
      sidebar-width: 300px
    include-in-header:
      - file: matomo-analytics.html
# End Format

# Begin Editor
editor: source
# End Editor
